@import "~@/assets/sass/variables.sass"

$mdi-font-path: "~@mdi/font/fonts"
@import "~@mdi/font/scss/materialdesignicons.scss"

html
  *
    box-sizing: border-box

  .v-application
    h1, a
      color: #40b883

    h1
      font-size: 26px
